<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
	</configSections>
	<connectionStrings>
		<add name="DemoConnectionString"
			connectionString="Data Source=SONY-VAIO\SQLEXPRESS;Initial Catalog=Demo;Integrated Security=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US"
			uiCulture="en-US" />
		<httpRuntime maxRequestLength="2147483647" executionTimeout="999999"
			requestValidationMode="2.0" />
		<pages enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5"
			clientIDMode="AutoID">
			<namespaces>
				<add namespace="Microsoft.VisualBasic" />
				<add namespace="System.Data" />
				<add namespace="System.Drawing" />
			</namespaces>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
					assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</controls>
		</pages>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add
					assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add
					assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add
					assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add
					assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add
					assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add
					assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add
					assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add
					assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add
					assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add
					assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add
					assembly="Microsoft.VisualC, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add
					assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add
					assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add
					assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add
					assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add
					assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc"
					type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</buildProviders>
		</compilation>
		<customErrors mode="Off">
		</customErrors>
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
		<authentication mode="Windows">
		</authentication>
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<!--
        <allow users="*"/> Allow all users 
			-->
			<allow users="*" />
			<!--<deny users="?"/>-->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="40" pageOutput="false" traceMode="SortByTime"
			localOnly="true" />
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424"
			sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false"
			timeout="99999"></sessionState>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*"
				type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
				validate="false" />
			<add path="ChartImg.axd" verb="GET,HEAD,POST"
				type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				validate="false" />
		</httpHandlers>
		<identity impersonate="True" userName="webpayqa1@peoplestrong.com" password="W$bp@YQ#A1" />
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ChartImageHandler" />
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
				path="ChartImg.axd"
				type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147482624" />
				<!-- value in bytes : this is just less than 2GB-->
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<appSettings>
		<add key="dataserver" value="10.225.238.9" />
		<add key="DataBaseName" value="PayRollSadmin" />
		<add key="DBUserID" value="appuser" />
		<add key="DBPassword" value="Tak3tH3Cha1iaNg3" />

		<!-- <add key="dataserver" value="10.226.0.141"/>
		<add key="DataBaseName" value="PayRollSadmin"/>
		<add key="DBUserID" value="Webpay_test_2019" />
		<add key="DBPassword" value="Webpay_test_2019" />  -->


		<add key="BASE_HREF" value="http://uat-websmart.peoplestrong.com/regression/" />
		<add key="Hostname" value="10.225.238.28" />
		<add key="Hostip" value="10.225.238.6" />
		<add key="AuthMail" value="test1@bbspl.com" />
		<add key="AuthenticationType" value="DB" />
		<add key="ActiveDirectoryPath" value="LDAP://bbspl.com" />
		<add key="ActiveDirectoryPath_1" value="LDAP://bbspl.com" />
		<add key="localhost.wsStrEncryptDecrypt"
			value="http://localhost:52367/Payroll/WebComponet/wsStrEncryptDecrypt.asmx" />
		<add key="aspnet:MaxHttpCollectionKeys" value="999999999" />
		<add key="localhost.CompanyScriptService"
			value="http://localhost:58266/Webpay-FY/CPayroll/ScriptServices/CompanyScriptService.asmx" />
		<add key="TestVal" value="Myval,Myval" />
		<add key="ChartImageHandler" value="storage=file;timeout=20;url=~/TempImageFiles;" />
		<add key="RedirectUrl" value="" />
		<add key="AppDBPath" value="" />
		<add key="AppFileSrvr" value="\\10.225.238.8\FileServer\NewFS\Payroll" />
		<!--<add key="AppFileSrvr" value="\\10.225.238.8\FileServer\NewFS\Payroll" />-->
		<add key="AppLBSrvr" value="\\10.225.238.8\FileServer\NewFS\Payroll" />
		<add key="AppDomainName" value="http://uat-paysmartfs.peoplestrong.com/TestFServ" />
		<add key="newappurl" value="http://10.225.238.6:80/?id=" />


		<add key="TempDBPath" value="" />

		<add key="ThreadCount" value="10" />
		<add key="PDFValid" value="PDF" />
		<!--<add key="PDFPath" value="HTTP://10.225.241.148\TestFServ"/> -->
		<add key="PDFPath" value="http://10.225.238.8/TestFServ" />
		<add key="PGPEncript"
			value="https://uat-websmart.peoplestrong.com/NewTechRevampAPI/api/PgpEncypt/Encrypt" />
		<add key="JavaServiceDomain" value="https://hrms.uat.peoplestrong.com" />
		<add key="APIReport" value="https://uat-websmart.peoplestrong.com/PayrollRptApi/api/" />
		<add key="ApiRptExcel" value="https://uat-websmart.peoplestrong.com/RptApiExcel/api/" />
		<add key="HeavyExcel" value="https://uat-websmart.peoplestrong.com/YTDLargeExcel/api/" />
		<add key="PGPCommonAPI"
			value="https://uat-websmart.peoplestrong.com/PGPAPI/api/ReportPGPEncrypt/PGPEncryptApi" />
		<add key="YTDClawbackAPI"
			value="https://uat-websmart.peoplestrong.com/YTDclawbackReportAPI/api/" />

		<add key="log4net" value="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</appSettings>

	<log4net>

		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<DatePattern value=".yyyy.MM.dd&quot;.TXT&quot;" />
			<staticLogFileName value="false" />
			<PreserveLogFileNameExtension value="true" />
			<file value="D:\TESTING_APPLICATION\ApplicationLogger\Regression" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />

			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern
					value="{
        &quot;DOMAIN NAME&quot;:&quot;%property{Domain}&quot;,
        &quot;COMPANY NAME&quot;:&quot;%property{Company}&quot;,
          &quot;System&quot;:&quot;%w&quot;,
         &quot;Login User&quot;:&quot;%property{User}&quot;,
        &quot;IP ADDRESS&quot;:&quot;%property{IP}&quot;,
         &quot;Menu NAME&quot;:&quot;%property{Menu}&quot;,
        &quot;TRNDATE&quot;:&quot;%date{ddd dd MMM yyyy  HH:mm:ss.fff}&quot;,
        &quot;Level&quot;:&quot;%level&quot;,
        &quot;PAGE ADDRESS&quot;:&quot;%location&quot;,
        &quot;ACTION&quot;:&quot;%method&quot;,
         &quot;MESSAGE&quot;:&quot;%message&quot;,
         &quot;EXCEPTION&quot;:&quot;%exception&quot;
         }
        %newline" />
			</layout>
		</appender>
		<root>
			<level value="Debug" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
	<system.net>
		<connectionManagement>
			<add address="dataserver" maxconnection="99999" />
		</connectionManagement>
		<mailSettings>
			<smtp>
				<!-- Mail Setting Configuration Help 
      <network host="Mail.TheNetSpiders.Com" - Address of the domin which yu are using for mail or
				Exchange name if company is using exchange server
      port="25" - The post whcih is using for smtp or same which is using in outlook for smtp
      userName="test@thenetspiders.com" - the valid mail address which is company given for authenticaion
				and also given in company details
      password="654321" - the password of the give mail for authentication></network>-->
				<!--<network host="mail.thenetspiders.com" port="25" userName="test@thenetspiders.com" password="654321"/>-->
				<!--<network host="74.52.76.178" port="25" userName="test@thenetspiders.com" password="654321"/>-->
				<network host="mail.bbspl.com" port="25" userName="Geeta" password="123456" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_LanguageService" />

			</basicHttpBinding>


			<wsHttpBinding>
				<binding name="WSHttpBinding_IWMServiceForHRMS" closeTimeout="00:01:00"
					openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					bypassProxyOnLocal="false" transactionFlow="false"
					hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
					maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8"
					useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://portfolio.wealthmaker.in/WMService/WMServiceForHRMS.svc"
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWMServiceForHRMS"
				contract="WCFServiceHRMS.IWMServiceForHRMS" name="WSHttpBinding_IWMServiceForHRMS" />
			<endpoint address="http://api.microsofttranslator.com/V2/soap.svc"
				binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
				contract="LanguageTranslatorService.LanguageService"
				name="BasicHttpBinding_LanguageService" />

		</client>
	</system.serviceModel>
</configuration>